* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

h3 {
  color: aqua;
}

h1,
h3 {
  color:#b92b27;
}
/* Id selector */
#login {
  background-color: antiquewhite;
}
 
#signup {
  background-color: #b92b27;
  color: azure;
}

.upvote {
  background-color: green;
  color: white;
}